
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu" style="
    margin-top: -26px;
">
            <li class="text-center">
                <img src="assets/img/find_user.png" class="user-image img-responsive"/>
            </li>
            <li>
                <a  href="{{ url('indexCategoryArticle') }}"><i class="fa fa-book-open fa-3x"></i>
                    <span class="test-menue"> مقالات </span>
                </a>
            </li>
            <li>
                <a  href="{{ url('indexCategoryNews') }}"><i class="fa fa-newspaper fa-3x"></i>
                    <span class="test-menue"> اخبار</span>
                </a>
            </li>
            <li>
                <a  href="{{ url('indexCategoryService') }}"><i class="fa fa-cogs fa-3x"></i>
                    <span class="test-menue"> خدمات</span>
                </a>
            </li>
            <li>
                <a  href="{{ url('indexCategoryContent') }}"><i class="fa fa-brain fa-3x"></i>
                    <span class="test-menue"> مطالب</span>
                </a>
            </li>
            <li>
                <a  href="{{ url('indexCategoryVideo') }}"><i class="fa fa-video fa-3x"></i>
                    <span class="test-menue"> ویدیو</span>
                </a>
            </li>
            <li>
                <a  href="{{ url('indexCategoryGeneralProduct') }}"><i class="fas fa-dolly fa-3x"></i>
                    <span class="test-menue"> محصولات</span>
                </a>
            </li>

        </ul>

    </div>
</nav>
